#login_main {height: 100vh; padding: 120px 0; background: rgba(223, 152, 156, 0.1); }

.login_logo {width: 150px; margin: 0 auto; text-align: center; }
.login_logo img {width: 100%;}

.login_text {font-size: 60px; font-weight: 700; color: #6d4847; padding: 50px 0 0 20px;}

#login_box {width: 600px; margin: 0 auto; padding: 50px 0;  }
#login_box p:nth-child(1) {padding-left: 170px; line-height: 80px; font-size: 24px; font-weight: 700; color: #6d4847;  }
#login_box p:nth-child(2) {padding-left: 159px; font-size: 24px; font-weight: 700; color: #6d4847; }
#login_box p:nth-child(3) {text-align: center; margin-top: 30px; padding: 0px 0 ;}
/*input*/
.text_input {padding: 5px 0; outline: none; }
.btn_input {padding: 10px 60px; cursor: pointer; border: 1px solid #6d4847; color: #6d4847; }
.btn_input:hover {background: rgba(223, 152, 156, 0.5); border: 1px solid #6d4847; }


#login_box p:nth-child(4) {text-align: center; padding: 20px 0; font-size: 12px; font-family: "Nanum Gothic"; }
#login_box p:nth-child(4) a {padding: 0 10px; color: #6d4847;}
#login_box p:nth-child(4) a:hover {color: rgba(109, 72, 71, 0.7);}


.login_line {width: 500px; height: 2px; margin: 0 auto; background: rgba(109, 72, 71, 0.4); }

/*login_sns*/
.login_sns {text-align: center; margin-top: 30px;}
.login_sns div {height: 40px; font-family: "Nanum Gothic"; font-size: 15px; letter-spacing: 2px; color: #6d4847;}
.login_sns p {display: inline-block; width: 50px; height: 50px; line-height: 50px; margin: 0 10px; font-size: 30px; }
.login_sns p a {color: #fff; }
.login_sns p:nth-child(3) a {color: #684a28; }
.login_sns p:nth-child(2) {background: #5ec43a;}
.login_sns p:nth-child(3) {background: #f8d448;}
.login_sns p:nth-child(4) {background: #465d93;}
